body {
    background-color: #8FBC8F;
    color: #FFFAF0;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 600;
}

.row {
    padding-top: 4px;
}

.container {
    border-width: 3px;
    border-style: ridge;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}
.footer {
    text-align: center;
    padding-top: 10px;
}

.heading_area {
    color: #FFFAF0;
}

.io_area {
    color: #FFFAF0;
    border-width: 1px;
    border-color: #FFFAF0;
    border-style: dashed;
    font-size: larger;
}

#io_box {
    min-height: 30px;
}

#calc_btn {
    padding-left: 20px;
    padding-right: 20px;
}

.styled_btn {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
    font-size: 20px;
}
