.row {
    padding-top: 4px;
}

body {
    background-color: #8FBC8F;
    color: #FFFAF0;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 600;
    font-family: "Merienda", cursive;
}

.container {
    border-width: 3px;
    border-style: ridge;
    padding: 5px;
    text-align: center;
}
.footer {
    text-align: center;
    padding-top: 10px;
}

.heading_area {
    color: #FFFAF0;
}

.io_area {
    color: #FFFAF0;
    border-width: 1px;
    border-color: #FFFAF0;
    border-style: dashed;
    font-size: larger;
}

#io_box {
    min-height: 30px;
}

#calc_btn {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
    padding-left: 20px;
    padding-right: 20px;
}

#n1 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n2 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n3 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n4 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n5 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n6 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n7 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n8 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n9 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#n0 {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#pi {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#add {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#sub {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#mult {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#divi {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#gst {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}

#rst {
    border-style: ridge;
    border-width: 1px;
    border-color: #FFFAF0;
    background-color: #FFFAF0;
    color: #8FBC8F;
}
